$color-0: #2d333b;
$color-1: #c6e48b;
$color-2: #7bc96f;
$color-3: #239a3b;
$color-4: #196127;
$color-main-text: rgb(173, 186, 199);

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: $color-main-text;
}

body {
  text-align: center;
  //   https://github.com/necolas/normalize.css/issues/665
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 400;
  background-color: rgb(34, 39, 46);
  color: $color-main-text;
}

.flex {
  display: flex;
  justify-content: space-between;
  i {
    top: 10px;
  }

  p,
  div {
    font-size: 12px;
  }
}

.bottom {
  padding: 0 50px 10px 50px;
  display: relative;
  p:hover {
    color: #539bf5;
    cursor: pointer;
  }
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

.settings {
  display: flex;
}
h3 {
  font-size: 12px;
  font-weight: 400;
  align-self: flex-end;
  &:hover {
    color: #539bf5;
    cursor: pointer;
  }
}

.border {
  border: 1px solid rgb(68, 76, 86);
  border-radius: 6px 6px 0px 0px;
}

.color-palette {
  justify-content: center;
  display: flex;
  gap: 20px;
  div {
    color: blue;
    flex: 1;
    height: 35px;
    min-width: 35px;
    max-width: 65px;
    border-radius: 5px;
  }
}

.contribution {
  max-width: 896px;
  height: 100px;
  margin: 0 auto;
}
.color-0 {
  background-color: $color-0;
}
.color-1 {
  background-color: $color-1;
}
.color-2 {
  background-color: $color-2;
}
.color-3 {
  background-color: $color-3;
}
.color-4 {
  background-color: $color-4;
}

.overflow {
  overflow-x: auto;
  max-width: 100%;
}

.table {
  margin-left: 50px;
  margin-right: 50px;
  border-spacing: 4px;
  overflow-x: hidden;
  table-layout: fixed;
  width: 832px;
  z-index: 0;
  padding-top: 30px;
}

#graph {
}

#week {
  top: 100px;
  width: 0px;
  height: 10px;
  translate: 10px -120px;
}

.pixel {
  width: 11px;
  height: 11px;
  background-color: $color-0;
  border-radius: 2px;

  &[data-level="1"] {
    background-color: $color-1;
  }
  &[data-level="2"] {
    background-color: $color-2;
  }
  &[data-level="3"] {
    background-color: $color-3;
  }
  &[data-level="4"] {
    background-color: $color-4;
  }
}

.samples {
  display: flex;
  align-items: baseline;
  div {
    margin: 2px;
  }
}

#tableHead {
  div {
    position: relative;
    height: 0;
    top: -20px;
  }
}

// footer

footer {
  // display: relative;
  margin-top: 300px;
  color: $color-main-text;
  display: flex;
  justify-content: center;

  .profile,
  .profile:visited {
    display: flex;
    align-items: center;
    img {
      height: 40px;
      border-radius: 100%;
      margin-right: 10px;
    }
    .profile-text {
      h6 {
        font-size: 12px;
      }
      p {
        font-size: 10px;
        font-weight: 400;
        position: relative;
        top: -20px;
      }
    }
  }

  .socials {
    display: flex;
    align-items: center;
    a {
      background-color: rgba(208, 211, 215, 0.075);
      width: 32px;
      height: 32px;
      border-radius: 100px;
      margin-left: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
