a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: rgb(173, 186, 199);
}

body {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 400;
  background-color: rgb(34, 39, 46);
  color: rgb(173, 186, 199);
}

.flex {
  display: flex;
  justify-content: space-between;
}
.flex i {
  top: 10px;
}
.flex p,
.flex div {
  font-size: 12px;
}

.bottom {
  padding: 0 50px 10px 50px;
  display: relative;
}
.bottom p:hover {
  color: #539bf5;
  cursor: pointer;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

.settings {
  display: flex;
}

h3 {
  font-size: 12px;
  font-weight: 400;
  align-self: flex-end;
}
h3:hover {
  color: #539bf5;
  cursor: pointer;
}

.border {
  border: 1px solid rgb(68, 76, 86);
  border-radius: 6px 6px 0px 0px;
}

.color-palette {
  justify-content: center;
  display: flex;
  gap: 20px;
}
.color-palette div {
  color: blue;
  flex: 1;
  height: 35px;
  min-width: 35px;
  max-width: 65px;
  border-radius: 5px;
}

.contribution {
  max-width: 896px;
  height: 100px;
  margin: 0 auto;
}

.color-0 {
  background-color: #2d333b;
}

.color-1 {
  background-color: #c6e48b;
}

.color-2 {
  background-color: #7bc96f;
}

.color-3 {
  background-color: #239a3b;
}

.color-4 {
  background-color: #196127;
}

.overflow {
  overflow-x: auto;
  max-width: 100%;
}

.table {
  margin-left: 50px;
  margin-right: 50px;
  border-spacing: 4px;
  overflow-x: hidden;
  table-layout: fixed;
  width: 832px;
  z-index: 0;
  padding-top: 30px;
}

#week {
  top: 100px;
  width: 0px;
  height: 10px;
  translate: 10px -120px;
}

.pixel {
  width: 11px;
  height: 11px;
  background-color: #2d333b;
  border-radius: 2px;
}
.pixel[data-level="1"] {
  background-color: #c6e48b;
}
.pixel[data-level="2"] {
  background-color: #7bc96f;
}
.pixel[data-level="3"] {
  background-color: #239a3b;
}
.pixel[data-level="4"] {
  background-color: #196127;
}

.samples {
  display: flex;
  align-items: baseline;
}
.samples div {
  margin: 2px;
}

#tableHead div {
  position: relative;
  height: 0;
  top: -20px;
}

footer {
  margin-top: 300px;
  color: rgb(173, 186, 199);
  display: flex;
  justify-content: center;
}
footer .profile,
footer .profile:visited {
  display: flex;
  align-items: center;
}
footer .profile img,
footer .profile:visited img {
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
}
footer .profile .profile-text h6,
footer .profile:visited .profile-text h6 {
  font-size: 12px;
}
footer .profile .profile-text p,
footer .profile:visited .profile-text p {
  font-size: 10px;
  font-weight: 400;
  position: relative;
  top: -20px;
}
footer .socials {
  display: flex;
  align-items: center;
}
footer .socials a {
  background-color: rgba(208, 211, 215, 0.075);
  width: 32px;
  height: 32px;
  border-radius: 100px;
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */